<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYmt6ot5jSvfPOGfsD6TMErLGkN_43Q1g</string>
	<key>GCM_SENDER_ID</key>
	<string>13579190409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berdi.inposhiv</string>
	<key>PROJECT_ID</key>
	<string>inposhiv-b0a31</string>
	<key>STORAGE_BUCKET</key>
	<string>inposhiv-b0a31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13579190409:ios:fe153504e3f2444d8ec658</string>
</dict>
</plist>